@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter.tff') format('tff');
	font-weight: 400 600;
	font-style: normal;
	font-display: swap;
}

:root {
	--color-capra-1: #0c1c35;
	--color-capra-2: #004c61;
	--color-capra-3: #00ca97;
	--color-capra-4: #86ffd9;
	--color-capra-5: #defcf5;
}

body {
	font-family: 'Inter', Arial, sans-serif;
	font-size: 18px;
	margin: 0;
	padding: 0;
	background: var(--color-capra-5);
	color: black;
	line-height: 1.7;
}
main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	font-style: normal;
	line-height: 1.35em;
	letter-spacing: 0;
	margin: 0 0 0.5rem 0;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.8rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.2rem;
}
h5 {
	font-size: 1rem;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--color-capra-1);
}
a:hover {
	color: var(--color-capra-2);
}
p {
	margin-bottom: 1em;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: var(--color-capra-4);
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--color-capra-2);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid var(--color-capra-3);
}
figcaption {
	font-size: 0.9rem;
}
@media (max-width: 720px) {
	main {
		padding: 1em;
	}
}
