<header>
	<nav>
		<a href="https://www.capraconsulting.no/">
			<img src="/Capra_hvit_logo_RGB.webp" alt="Capra logo" fetchpriority="high" decoding="sync">
		</a>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: var(--color-capra-1);
		box-shadow: 0 2px 8px #0c1c351c;
	}
	img {
		width: 100px;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 100px;
	}

	a {
		line-height: initial;
	}
</style>
