<header>
	<nav>
		<a href="/">
			<img src="/Capra_hvit_logo_RGB.png" alt="Capra logo">
		</a>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: #0c1c35;
		box-shadow: 0 2px 8px #0c1c351c;
	}
	img {
		width: 100px;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 100px;
	}

	a {
		line-height: initial;
	}
</style>
